<form [formGroup]="form">
  <div class="form-group">
    <label for="username">Username</label>
    <input formControlName="username" id="username" type="text" class="form-control">
    <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
      <div *ngIf="username.errors.required">UserName Is Required</div>
      <div *ngIf="username.errors.minlength">UserName Should be minimum {{username.errors.minlength.requiredLength}} character</div>
      <div *ngIf="username.errors.maxlength">UserName Should be Maximum {{username.errors.maxlength.requiredLength}} character</div>
      <div *ngIf="username.errors.cannotContainSpace">UserName Cannot Contain Space</div>
      <div *ngIf="username.errors.shouldBeUnique">UserName is already taken</div>

    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input formControlName="password" id="password" type="text" class="form-control">
    <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
      <div *ngIf="password.errors.required">Password Is Required</div>
      <div *ngIf="password.errors.minlength">Password Should be Minimum {{password.errors.minlength.requiredLength}} characters</div>
      <div *ngIf="password.errors.maxlength">Password Should be Maximum {{password.errors.maxlength.requiredLength}} character</div>
      <div *ngIf="password.errors.cannotContainSpace">Password Cannot Contain Space</div>

    </div>
  </div>
  <button class="btn btn-primary" type="submit">Sign Up</button>
</form>
